@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body, html{
    width: 100vw;
    height: 100vh;
}

#board{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);


    translate: -50% -50%;
}
button{
    font-size: 5em;
}

